@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");

* {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.font-title {
  font-family: "Just Another Hand", cursive;
}

.bg-app {
  background-color: #3a4c67;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.h-82 {
  height: 22rem;
}

.text-off {
  color: #999;
}
